@charset "UTF-8";

body{
	font-size: 9pt;
	color: black;
	overflow: auto; overflow-x:hidden;
	font-family: 굴림, verdana, tahoma;	
	
}
.maindiv{
	align-items: center;
	position:absolute;
	top:50px;
	left:50px;
	flex-direction: column;
}

ul{
	padding: 0px;
	list-style: none;
}

td{
	font-size: 9pt;
	color: black;
	font-family: 굴림, verdana, tahoma;
}

select{
	font-size: 9pt;
	color: black;
	line-height: 160%;
	font-family: 굴림, verdana, tahoma;
}

div{
	font-size: 9pt;
	color: black;
	
	font-family:굴림, verdana, tahoma;
}

form{
	font-size: 9pt;
	color: black;
	line-height: 160%;
	font-family: 굴림, verdana, tahoma;
}

textarea{
	font-size : 9pt;
	border-right:1px solid #999999;
	border-top: 1px solid #999999;
	border-left: 1px solid #999999;
	border-bottom: 1px solid #999999;
	font-family: 굴림, verdana, tahoma;
	background-color: white;
}

input{
	font-size : 9pt;
	border-right:1px solid #999999;
	border-top: 1px solid #999999;
	border-left: 1px solid #999999;
	border-bottom: 1px solid #999999;
	font-family: 굴림, verdana, tahoma;
	background-color: white;
}

.logoutbox:hover{
	cursor:pointer;
}

a:link{
	text-decoration: none;
	color: black;
}
a:hover{
	text-decoration: yes;
	
}
a:visit{
	text-decoration: none;
	color: #330066;
}

.kakaobutton{
	width: 30px; height: 30px;
}

html, body {
  width: 100%;
  
  margin: 0;
  padding: 0;
}
/* header css */
#header{
	
	background-color:  white;
	width: 100%;
	height: 70px;

}
.container_header{

  display: flex;
  justify-content: space-between;
  align-items: center;
  
  padding-top:10px;
  padding-bottom:10px;
  padding-left:20px;
  padding-right: 20px;
}

#title__logo{
	font-family: 'Staatliches', cursive;
	font-size: 40px;
	text-align: center; 
	color: black; 
	text-shadow: 5px 5px #ffff80; 
	margin: 0;
	
}
#title__logo1{
	font-family: 'Staatliches', cursive;
	font-size: 40px;
	text-align: center; 
	color: white; 
	text-shadow: 5px 5px black; 
	margin: 0;
	
}
#title__logo:hover{
	transform: scale( 1.2 );
}
.nav_ul{ 
  display: flex;
  justify-content: space-around;
  background-color: transparent;
  align-items: center;
  font-size: 15px;
  overflow: hidden;
    border-left: 1px solid rgba(255,255,255,0.2); 
}
.nav_li{
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Hahmlet', serif;
	text-align: center; 
	font-size: 16px;
}
.nav_li:hover{
	transform: scale( 1.2 );
}
.inner{
  /* 트랜지션 효과: 모든 프로퍼티의 변화를 2초에 걸쳐 전환한다. */
    transition: all 2s;
	position: relative;
    width: 100%;
    background-color: rgb(246, 246, 246);
    padding: 5px;
  
}

.loginOutside{
	
	margin-top: 50px;
	margin-bottom: 50px;
	width: 800px; 
	height: 500px; 
	border: 1px solid black; 
	display: flex;
}
.loginInside{
	width: 200px;
	height: 500px; 
	border: 1px solid black; 
	display: flex; 
	flex-direction: column; 
	justify-content: space-around;
}


.loginbox{
	width: 200px; 
	height: 100px; 
	justify-content: center; 
	align-items: center; 
	display: flex;
	border-bottom: 1px solid black;
	font-family: 'Hahmlet', serif;
	font-size: 16px;
}
.loginbox:hover{
	background-color: orange;
	color: white;
}
.loginboxActive{
	background-color: orange;
	color: white;
}

/* section css */
section{
	height: 710px;
}
.section_bar{
	padding: 15px;
	background-color: yellow;
	font-size: 20px; 
	color: black;
	font-family: 'Hahmlet', serif;
	
}




/* imsi */
.qs_title {
    float: left;
    width: 100%;
    border-top: 1px solid #7e7e7e;
    color: #333;
    font-size: 45px;
    background-color: #f9f9f9;
    font-weight: bold;
    padding: 37px 27px 30px;
    margin-top: 0;
}

.qs_info_wrap {
    float: left;
    width: 100%;
    height: 55px;
    line-height: 55px;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    
}





/* section regForm*/
 form.reg{
            width:400px;
            height:800px;
            display : flex;
            flex-direction: column;
            align-items:center;     
            border: 1px solid rgb(89,117,196);
            border-radius: 10px;
        }
form.login{
            width:400px;
            height:400px;
            display : flex;
            flex-direction: column;
            align-items:center;
           
            border: 1px solid rgb(89,117,196);
            border-radius: 10px;
        }        

        .input-field {
            width: 200px;
            height: 20px;
            border : 1px solid rgb(89,117,196);
            border-radius: 5px;
            padding: 0 10px;
            margin-bottom: 10px;
        }
        .input-field-phone{
        	width: 90px;
        	height:25px;
        	border : 1px solid rgb(89,117,196);
        	border-radius:5px;
        	padding: 0 10px;
            margin-bottom: 10px;
        }
        .input-field.birth{
        	margin-bottom: 30px;
        }
        label {
            width:300px;
            height:30px;
            margin-top :4px;
        }
.form-button{
	  background-color: orange;
            color : white;
            width:300px;
            height:30px;
            font-size: 17px;
            border : none;
            border-radius: 5px;
            margin : 0px 0 20px 0;
}
        button {
            background-color:orange;
            color : white;
            width:300px;
            height:30px;
            font-size: 17px;
            border : none;
            border-radius: 5px;
            margin : 0px 0 10px 0;
        }

        .title {
            font-size : 20px;
            margin: 10px 0 10px 0;
            color: black;
	font-family: 'Hahmlet', serif;
        }

        .msg {
            height: 30px;
            text-align:center;
            font-size:16px;
            color:red;
            margin-bottom: 20px;
        }
        .sns-chk {
            margin-top : 5px; 
        }

    .span-field {
            width: 300px;
            height: 30px;
            border : 1px solid rgb(89,117,196);
            border-radius:5px;
            padding: 5px 10px;
            margin-bottom: 10px;
           
        }

/* Image */
#productImage{
	width: 300px;
	height: 400px;
	border: none;
}
#viewImage{
	width: 700px;
	height: 500px;
	
}
/* footer regForm*/
footer{
	background-color: orange;
	width:100%;
}
.container_footer{
	display: flex;
	align-items: center;
	justify-content:space-between;
	position: relative;
}
.footer_ul{ 
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  align-items: center;
  font-size: 15px;
   
}
.footer_li{
	padding: 8px;
	margin: 0 4px;
}

/*==========================*/
.site-footer
{
  background-color:#26272b;
  padding:5px 0 5px;
  font-size:15px;
  color:#737373;
  height: 115px;
}

.site-footer h6
{
  color:#fff;
  font-size:16px;
  
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none;
  margin-bottom: 3px;
}
.footer-links li
{
  display:block;
  margin-bottom: 3px;
}
#cr{
	color:#737373;
}
#cr a
{
  color: white;
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}

.copyright-text
{
  margin:0
}

#footericon{
	font-size: 30px;
	color: white;
}


table.type10 {
border-collapse: separate;
border-spacing: 1px;
display: flex;
justify-content: center;
line-height: 1;
background: rgb(246, 246, 246);
font-family :'Hahmlet', serif;
}
table.type10 th {

padding: 10px;
font-weight: bold;
vertical-align: top;
color: rgb(246, 246, 246);
font-family :'Hahmlet', serif;
background-color: rgb(246, 246, 246);

}
table.type10 td {
    font-size: 19px;
font-family :'Hahmlet', serif;
vertical-align: top;
border-bottom: 1px solid #ccc;
background-color: rgb(246, 246, 246);
height: 19px;
padding: 25px;
}

.logindiv{
	height: 80px; align-items: center; display: flex; justify-content: center;
	font-family :'Hahmlet', serif;
	font-size: 20px;
}


